<h1>Lista de artículos</h1>

<table>
    <tr>
        <th>Título</th>
        <th>Texto</th>
        <th>Enlace</th>
    </tr>

    <% @articulos.each do |articulo| %>
    <tr>
        <td id="cellLeft"><%= articulo.title %></td>
        <td id="cellLeft"><%= articulo.text %></td>
        <td id="cell3"><%= link_to 'Mostrar', articulo_path(articulo) %></td>
    </tr>
    <% end %>
</table>