body{
  padding-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

header{
  height: 20%;
  background-color: #999;
  border-color: #000;
  border-style: solid;
  border-width: thin;
}

nav {
  padding-left: 5px;
  border-style: solid;
  border-width: thin;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: 1px;
    border-color: #000;
    color: #333;
}

li {
    float: left;
    padding: 10px;
    font-weight: bold;
}

#divcontenedor{
  border-style: solid;
  border-width: thin;
  height: 325px;
}

#contenedor{
  margin: 5px;
  background-color: #FF00FF;
}

.izquierdo{
  float:left;
}

article{
  width: 30%;
  margin: 15px;
  height: 300px;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

img{
  background-color: red;
  width: 225px;
  height: 113px;
}

.art1{
  background-color: #3D562A;
}

.art2{
  background-color: #FD562A;
}

.art3{
  background-color: #9D500A;
}

footer{
  background-color: #999;
  height: 50px;
  margin-top: 10px;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.divFlotante {
  clear: both;
}

#divImagen{
  background-image: url("../images/logo.png");
  padding: 5px;
  height: 113px;
  width: 225px;
}

#divRedes{
  margin: 10px;
  background-image: url("https://icon-icons.com/icons2/1099/PNG/32/1485482199-linkedin_78667.png");
  width: 32px;
  height: 32px;
}

#divTitulo{
  vertical-align: middle;
  height: 113px;
  width: 40%;
}

.derecho{
  float: right;
}
