<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>Bienvenido, <%= @usuario.nombre %></h1>
    <p>
        Has ingresado exitosamente,
        Usuario: <%= @usuario.login %>.<br>
    </p>
    <p>
        Para iniciar sesión en el sitio, simplemente siga este enlace : <%= @url %>.
    </p>
    <p>Ya comenzó el tour!</p>
</body>
</html>